
{%  extends 'layout.html' %}
{% load static %}

{% block body %}

    <main class="main">
      <!-- Hero Section -->
      <section id="hero" class="hero section">
        <img src="{% static 'assets/img/back2.png' %}" alt="" data-aos="fade-in" />

        <div
          class="container text-center"
          data-aos="zoom-out"
          data-aos-delay="100"
        >
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <h2>Ruto Pius</h2>
              <p>I'm a professional Web Developer from Kenya</p>
              <a href="{% url 'about' %}" class="btn-get-started">About Me</a>
            </div>
          </div>
        </div>
      </section>
      <!-- /Hero Section -->
    </main>

{% endblock %}

   