{% extends 'layout.html' %}
{% load static %}

{% block body %}

    <main class="main">
      <!-- Hero Section -->
      <section id="hero" class="hero section">
        <!-- Hero Image (Fallback to static image if none exists in the database) -->
        <img src="{% if hero.background_image %}{{ hero.background_image.url }}{% else %}{% static 'assets/img/back2.png' %}{% endif %}" alt="" data-aos="fade-in" />

        <div class="container text-center" data-aos="zoom-out" data-aos-delay="100">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <!-- Hero Title (Use dynamic title if exists) -->
              <h2>{% if hero.title %}{{ hero.title }}{% else %}Ruto Pius{% endif %}</h2>
              
              <!-- Hero Subtitle (Use dynamic subtitle if exists) -->
              <p>{% if hero.subtitle %}{{ hero.subtitle }}{% else %}I'm a professional Web Developer from Kenya{% endif %}</p>

              <!-- Button Text and Link (Use dynamic text and link if exists) -->
              <a href="{% if hero.button_link %}{{ hero.button_link }}{% else %}{% url 'about' %}{% endif %}" class="btn-get-started">
                {% if hero.button_text %}{{ hero.button_text }}{% else %}About Me{% endif %}
              </a>
            </div>
          </div>
        </div>
      </section>
      <!-- /Hero Section -->
    </main>

{% endblock %}
